html {
  font-size: 18px;
}

body {
  min-width: 320px;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 5%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: border-box;
  
  background: lightgray;
}

.button {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0 0 18px 0;
}

.button:hover {
  background-color: rgb(181, 180, 180);
  
}

.title-text {
  font-weight: normal bold;
}

/*HEADER*/
.header {
  background: lightgray;
  box-sizing: border-box;
  border-bottom: 1px solid #495057;
}

.header .navbar-collapse {
  justify-content: flex-end;
}

/*BANNER AREA*/
.site-banner {
  margin-top: 54px;
}
@media screen and (max-width: 623px) {
  .site-banner {
    margin-top: 18px;
  }
}

.site-banner h3 {
  font-weight: 500;
}

.site-banner h2 {
  margin-bottom: 0;
  font-size: 54px;
}

@media screen and (max-width: 833px) {
  .site-banner h2 {
    margin-bottom: 0;
    font-size: 39px;
  }
}

.site-banner-row {
  padding: 0 13.5px
}

.site-image {
  min-width: 256px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.site-banner .button {
  margin-bottom: 10%;
}

/*ABOUT ME AREA*/
.aboutme-text {
  font-size: 18px;
  font-weight: normal;
}
@media screen and (min-width: 992px) {
  .aboutme-text {
    font-size: 20px;
  }
}

/*STACK*/
.icon-stack {
  max-height: 80px;
  filter: saturate(0);
  transition: all .4s ease-in-out;
}
.icon-stack:hover {
  cursor: pointer;
  filter: saturate(1);
  scale: 1.1;
  transition: all .4s ease-in-out;
}

/*PROJECTS*/
.projects-card {
  border: none;
}
.projects .card-body {
  padding-left: 0;
  padding-right: 0; 
}
.projects-button {
  width: 45%;
  font-size: 16px;
  padding: 5px 0;
}
.projects .card-title {
  margin-bottom: 18px;
}
.projects .card-img-top {
  filter: saturate(0);
  transition: all .4s ease-in-out;
}
.projects .card-img-top:hover {
  cursor: pointer;
  filter: saturate(115%);
  scale: 1.015;
  transition: all .4s ease-in-out;
}
.projects .card-title {
  letter-spacing: 1px;
}

/*Magnific Popup*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  backface-visibility: hidden;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: .8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/*Footer*/
.fa-telegram {
  color: rgb(101, 101, 101);
  transition: all .4s ease-in-out;
}
.fa-telegram:hover {
  color: rgb(3, 66, 254);
  scale: 1.5;
  transition: all .4s ease-in-out;
}
.fa-linkedin {
  color: rgb(101, 101, 101);
  transition: all .4s ease-in-out;
}
.fa-linkedin:hover {
  color: rgb(3, 66, 254);
  scale: 1.5;
  transition: all .4s ease-in-out;
}
.fa-github {
  color: rgb(101, 101, 101);
  transition: all .4s ease-in-out;
}
.fa-github:hover {
  color: rgb(3, 66, 254);
  scale: 1.5;
  transition: all .4s ease-in-out;
}
.fa-facebook {
  color: rgb(101, 101, 101);
  transition: all .4s ease-in-out;
}
.fa-facebook:hover {
  color: rgb(3, 66, 254);
  scale: 1.5;
  transition: all .4s ease-in-out;
}